<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBookService" />
                <binding name="WSHttpBinding_IBookService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1395/WCFHost/BookService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookService"
                contract="ServiceReference1.IBookService" name="WSHttpBinding_IBookService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1395/WCFHost/BookService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookService1"
                contract="ServiceReference2.IBookService" name="WSHttpBinding_IBookService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="Client_localhost_BookService" serializeAs="String">
                <value>http://localhost:1395/WCFHost/BookService</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>